In [1]:
import pandas as pd

df = pd.read_csv('student_features.csv')

In [2]:
df

,STUDENT_ID,STUDENT_YEAR,AVG_MARKS,FAILED_SUBJECTS,ATTENDANCE_PERCENTAGE,FINAL_RESULT
0,101,1,77.5,0,50,PASS
1,102,1,57.5,0,100,PASS
2,105,2,50.0,0,0,PASS
3,108,3,60.0,0,50,PASS
4,104,2,84.0,0,100,PASS
5,107,3,73.5,0,100,PASS
6,110,4,51.5,0,50,PASS
7,112,4,43.5,2,0,FAIL
8,114,1,55.0,0,50,PASS
9,106,2,60.0,0,50,PASS
10,103,1,57.5,0,50,PASS
11,109,3,75.0,0,50,PASS
12,111,4,84.5,0,100,PASS
13,113,1,66.5,0,100,PASS
14,115,1,53.0,0,50,PASS

In [3]:
x_features = df.drop('FINAL_RESULT', axis=1)
y_features = df['FINAL_RESULT']

In [4]:
x_features

,STUDENT_ID,STUDENT_YEAR,AVG_MARKS,FAILED_SUBJECTS,ATTENDANCE_PERCENTAGE
0,101,1,77.5,0,50
1,102,1,57.5,0,100
2,105,2,50.0,0,0
3,108,3,60.0,0,50
4,104,2,84.0,0,100
5,107,3,73.5,0,100
6,110,4,51.5,0,50
7,112,4,43.5,2,0
8,114,1,55.0,0,50
9,106,2,60.0,0,50
10,103,1,57.5,0,50
11,109,3,75.0,0,50
12,111,4,84.5,0,100
13,113,1,66.5,0,100
14,115,1,53.0,0,50

In [5]:
y_features

0     PASS
1     PASS
2     PASS
3     PASS
4     PASS
5     PASS
6     PASS
7     FAIL
8     PASS
9     PASS
10    PASS
11    PASS
12    PASS
13    PASS
14    PASS
Name: FINAL_RESULT, dtype: object

In [6]:
# Converting categorical values into numerical values
df['FINAL_RESULT'] = df['FINAL_RESULT'].map({'PASS': 1, 'FAIL': 0})

In [7]:
df['FINAL_RESULT']

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     0
8     1
9     1
10    1
11    1
12    1
13    1
14    1
Name: FINAL_RESULT, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split

# Splitting into 80% training and 20% testing
X_train, X_test, y_train, y_test = train_test_split(
    x_features, y_features, test_size=0.2, random_state=42, shuffle=True, stratify=y_features
)

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.